<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>King's Gambit</title>
        <link rel="stylesheet" href="/static/css/home.css" />
        <link rel="icon" href="/static/assets/siteLogo.jpeg" type="image/jpeg">
    </head>

    <body>
        <img src="/static/assets/logo.svg" alt="Logo"/>
        <a href="/game">
            <button>Start a match</button>
        </a>
    </body>
</html>